In [7]:
import random
import pandas as pd

file=open('pubdata.txt','w+')
status=['Economy','Medium','Luxury']
zone=['North','East','West','South']
cuisine=['SouthIndian','NorthIndian','Vegetarian','Vegan','European','African','Asian']

file.write('zone,status,cuisine,guests\n')
for i in range(500):
    
    file.write(str(random.choice(zone)+','+random.choice(status)+','+random.choice(cuisine)+','+str(random.randint(1,10))+'\n'))


file.close()

In [8]:
df= pd.read_csv('pubdata.txt')
df

      zone   status      cuisine  guests
0     East  Economy      African       9
1    South   Medium  NorthIndian       4
2    South  Economy  NorthIndian       3
3    South   Medium  NorthIndian       8
4     West  Economy     European       4
5    North  Economy  NorthIndian       5
6    North   Luxury        Vegan       4
7    North  Economy        Asian       6
8    South   Medium   Vegetarian       5
9    North  Economy     European       8
10   North   Medium     European       9
11    West   Medium        Vegan       9
12   North   Medium      African       6
13    West   Medium     European       6
14    West   Medium  SouthIndian       7
15   South  Economy  SouthIndian       6
16    West   Luxury   Vegetarian       4
17    East   Medium     European       9
18    West   Luxury  NorthIndian       8
19    West   Medium  NorthIndian       7
20   North   Medium  SouthIndian      10
21    East   Luxury  NorthIndian       6
22   North  Economy        Asian       4
23   North   Luxury        Vegan      10
24    West   Medium  NorthIndian       9
25    West  Economy        Asian       1
26   North   Medium  NorthIndian       4
27    East  Economy     European      10
28   South  Economy     European       8
29   South   Medium  SouthIndian       9
..     ...      ...          ...     ...
470  North  Economy      African       4
471  South   Luxury        Asian       4
472   West  Economy      African       5
473   West   Medium   Vegetarian       6
474  South   Medium   Vegetarian       2
475   East  Economy  SouthIndian       9
476   East   Luxury     European       2
477  South   Luxury   Vegetarian       3
478  South   Luxury     European       5
479   East  Economy     European       7
480   East  Economy   Vegetarian       9
481   West   Medium     European       4
482  North   Medium  NorthIndian       6
483   East  Economy     European       5
484   East   Luxury        Vegan      10
485   West  Economy        Vegan       9
486   West  Economy        Asian       4
487   West   Medium  SouthIndian       4
488  South   Medium        Vegan       8
489   West   Medium     European       9
490  North   Luxury      African       1
491  South   Medium  SouthIndian       8
492  South  Economy  SouthIndian       2
493   East  Economy      African       2
494   East   Medium  SouthIndian       3
495  South  Economy        Asian      10
496  South   Medium        Asian       7
497   West   Luxury        Asian       1
498   West   Luxury      African       8
499  North  Economy        Vegan       9

[500 rows x 4 columns]

In [9]:
x=df[(df['cuisine'] == 'Vegan' )&(df['status'] == 'Economy' )&(df['guests']>5) ]
print(x)
x=x.to_dict(orient='list')

      zone   status cuisine  guests
49   North  Economy   Vegan       9
63   North  Economy   Vegan      10
70   South  Economy   Vegan      10
97   North  Economy   Vegan       6
111   East  Economy   Vegan      10
220  North  Economy   Vegan       7
267   East  Economy   Vegan       9
283  North  Economy   Vegan       6
378  North  Economy   Vegan       9
417  North  Economy   Vegan       7
485   West  Economy   Vegan       9
499  North  Economy   Vegan       9

In [13]:
print('A table for '+str(x['guests'][0]) +' is booked in '+ x['zone'][0]+' zone. Cuisine: ' + x['cuisine'][0] + ' .Budget choice: '+ x['status'][0] +'.' )

A table for 9 is booked in North zone. Cuisine: Vegan .Budget choice: Economy.